body, html {
    height: 100%;
    margin: 0;
}

/* ================================================================= */
/* la barre de navigation                                            */
/* ================================================================= */

.navbar ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcfc;

    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li:last-child {
    position: absolute;
    left: 0;
    margin-left: 10px;
    border: none;

}

.navbar ul li {
    margin-left: 10px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: darksalmon;
    transition: all 300ms ease-in-out;
}

.active {
    background-color: #4CAF50;
}
