<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/style_general.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/annonce/2">detail</a></li>
        <li><a href="/inscription">s'inscrire</a></li>
        <li><a href="/connexion">se connecter</a></li>
        <li><a href="/">Accueil</a></li>
    </ul>
</nav>


<div id="img_div">


    <img src="https://images.pexels.com/photos/5706220/pexels-photo-5706220.jpeg?" alt="">
</div>

<div id="research_box">


    <form method="post" action='#'>
        <label>

            <input name="mot_cle" type="search" placeholder="mots-clés"/>
        </label>
        <label>
            <input name="localisation" type="search" placeholder="localisation"/>
        </label>
        <label>
            <select id="category_selector" name="catégorie">
                <option value="jeunesse">jeunesse</option>
                <option value="histoire">histoire</option>
                <option value="bande dessinee">bande dessinée</option>
                <option value="voyage">voyage</option>
                <option value="scolaire">scolaire</option>
            </select> </label>

        <label for="search_button">
        </label>
        <button type="submit" id="search_button"><i class="fas fa-search"></i></button>

    </form>

</div>


</body>
</html>