<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div>
<ul>
    <li><a href="../templates/inscription.html">s'inscrire</a></li>
    <li><a href="../templates/accueil.html">Accueil</a></li>

</ul>


</div>


<div id="img_div">



<img src="https://images.pexels.com/photos/5706220/pexels-photo-5706220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
</div >

    <div id="research_box">


    <form method="post" action ='#'>
        <label>

            <input name="mot_cle" type="search" placeholder="mots-clés"/>
        </label>
        <label>
            <input name="localisation" type="search" placeholder="localisation"/>
        </label>
        <label>
            <select id="category_selector" name="catégorie">
                <option value="jeunesse">jeunesse</option>
                <option value="bande dessinee">bande dessinée</option>
                <option value="voyage">voyage</option>
                <option value="scolaire">scolaire</option>
            </select>        </label>

        <label for="search_button">
        </label><input id="search_button" value="icon">
    </form>


    </div>


</body>
</html>