<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>



{% if session.loggedin %}

    <navbar class="navbar" >

        <navbar class >
        <ul>
            <li><a href="/logout">Déconnexion</a></li>
            <li><a href="/mon_compte">Mon Compte</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/panier">Mon Panier</a></li>
            <li><a href="/favoris">Mes Favoris</a></li>
           <li><a href="/publier">publier</a></li>  <li><a href="/">Accueil</a></li>
        </ul>
    </navbar>


        </ul>
    </navbar>

{% else %}

    <navbar class="navbar">
        <ul>
            <li><a href="/inscription">s'inscrire</a></li>
            <li><a href="/connexion">se connecter</a></li>
            <li><a href="/publier">publier</a></li>
            <li><a href="/">Accueil</a></li>
        </ul>
    </navbar>

{% endif %}


<div id="img_div">


    <img src="https://images.pexels.com/photos/5706220/pexels-photo-5706220.jpeg?" alt="">
</div>

<div id="research_box">


    <form method="post" action='recherche'>
        <label>

            <input id='titre_annonce' name="titre_annonce" type="text" style="width: 300px" placeholder="titre de l'annonce"/>
        </label>

        <label>
            <select id="genre" name="genre">
<option value="" disabled selected>Selectionner un genre</option>

                <option value="Fiction">Fiction</option>
                <option value="Non-fiction">Non-fiction</option>
                <option value="Romans">Romans</option>
                <option value="Thriller">Thriller</option>
                <option value="Science-fiction">Science-fiction</option>
                <option value="Fantaisie">Fantaisie</option>
                <option value="Mystère">Mystère</option>
                <option value="Horreur">Horreur</option>
                <option value="Biographie">Biographie</option>
                <option value="Autobiographie">Autobiographie</option>
                <option value="Poésie">Poésie</option>
                <option value="Drame">Drame</option>
                <option value="Humour">Humour</option>
                <option value="Histoire">Histoire</option>
                <option value="Science">Science</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Art">Art</option>
                <option value="Cuisine">Cuisine</option>
                <option value="Voyage">Voyage</option>
                <option value="Religion">Religion</option>
                <option value="Spiritualité">Spiritualité</option>
                <option value="Éducation">Éducation</option>
                <option value="Affaires">Affaires</option>
                <option value="Finance">Finance</option>
                <option value="Santé">Santé</option>
                <option value="Mode de vie">Mode de vie</option>
                <option value="Sport">Sport</option>
                <option value="Technologie">Technologie</option>
                <option value="Jeunesse">Jeunesse</option>
                <option value="Aventure">Aventure</option>
                <option value="Classique">Classique</option>
                <option value="Théâtre">Théâtre</option>
                <option value="Fantastique">Fantastique</option>
            </select> </label>

        <label for="search_button">
        </label>
        <button type="submit" id="search_button"><i class="fas fa-search"></i></button>

    </form>

</div>


<button class="text-size-btn" id="decrease-text-size">-</button>
    <button class="text-size-btn" id="increase-text-size">+</button>

    <script>
        // JavaScript pour augmenter la taille du texte
        document.getElementById("increase-text-size").addEventListener("click", function() {
            // Récupère la taille actuelle du texte
            var currentFontSize = parseFloat(window.getComputedStyle(document.body).fontSize);
            // Augmente la taille du texte de 2 pixels
            var newFontSize = currentFontSize + 2;
            document.body.style.fontSize = newFontSize + "px"; // Augmente la taille du texte
        });

        // JavaScript pour diminuer la taille du texte
        document.getElementById("decrease-text-size").addEventListener("click", function() {
            // Récupère la taille actuelle du texte
            var currentFontSize = parseFloat(window.getComputedStyle(document.body).fontSize);
            // Diminue la taille du texte de 2 pixels
            var newFontSize = currentFontSize - 2;
            document.body.style.fontSize = newFontSize + "px"; // Diminue la taille du texte
        });
    </script>
</body>
</html>