<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/style_general.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
<nav class="navbar">
    <ul>
        <li><a href="/inscription">s'inscrire</a></li>
        <li><a href="/connexion">se connecter</a></li>
        <li><a  href="/">Accueil</a></li>
    </ul>
</nav>


<div class="split left">

    <div class="centered">
<div id="connexion_form">

    <form action="tentative_connexion">
        <br/>
        <label>
            <input name="addresse_courriel" type="email" placeholder="votre courriel"/>
        </label>
        <br/>
        <label>
            <input name="mot_de_passe" type="password" placeholder="votre mot de passe"/>
        </label>
        <br/>
        <input type="submit" value="Se connecter">
    </form>
    <h5>je n'ai pas de compte</h5>
    </div>
</div>
</div>

<div  class="split right" >




</div>


</body>
</html>