<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Accueil</title>

    <link rel="stylesheet" href="../static/styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
{% if session.loggedin %}

    <navbar class="navbar" >

        <ul>
            <li><a href="/logout">Déconnexion</a></li>
            <li><a href="/mon_compte">Mon Compte</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/panier">Mon Panier</a></li>
            <li><a href="/favoris">Mes Favoris</a></li>
            <li><a href="/">Accueil</a></li>


        </ul>
    </navbar>

{% else %}

    <navbar class="navbar">
        <ul>
            <li><a href="/inscription">s'inscrire</a></li>
            <li><a href="/connexion">se connecter</a></li>
            <li><a href="/publier">publier</a></li>
            <li><a href="/">Accueil</a></li>
        </ul>
    </navbar>

{% endif %}



<div class="split left">

    <div class="centered">
<div id="connexion_form">

    <form action="/connexion_compte" method="POST">
        <br/>
        <label>
            <input name="adresse_courriel" type="email" placeholder="votre courriel"/>
        </label>
        <br/>
        <label>
            <input name="mot_de_passe" type="password" placeholder="votre mot de passe"/>
        </label>
        <br/>
        <input type="submit" value="Se connecter">
    </form>
<div class="register-container">

            <p><span class="register-text">Vous n'avez pas de compte?</span></p>
            <p><a href="/inscription" style="text-decoration:none; color:indianred;">Inscrivez-vous ici</a></p>
        </div>
</div>
</div>
</div>

<div  class="split right" >




</div>


</body>
</html>