<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - Librairie Infinie</title>
    <link rel="stylesheet" href="../static/styles1.css">
</head>

<body>
    {% if session.loggedin %}

    <navbar class="navbar" >

        <ul>
            <li><a href="/logout">Déconnexion</a></li>
            <li><a href="/mon_compte">Mon Compte</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/panier">Mon Panier</a></li>
            <li><a href="/favoris">Mes Favoris</a></li>
            <li><a href="/">Accueil</a></li>


        </ul>
    </navbar>

{% else %}

    <navbar class="navbar">
        <ul>
            <li><a href="/inscription">s'inscrire</a></li>
            <li><a href="/connexion">se connecter</a></li>
            <li><a href="/publier">publier</a></li>
            <li><a href="/">Accueil</a></li>
        </ul>
    </navbar>

{% endif %}
    <div class="faq-container">
        <h2>Questions fréquentes</h2>
        <div class="question">Q: Quels sont les modes de paiement acceptés ?</div>
        <div class="answer">R: Nous acceptons les paiements par carte de crédit (Visa, MasterCard), PayPal et virement bancaire.</div>

        <div class="question">Q: Comment puis-je retourner un livre ?</div>
        <div class="answer">R: Aucun retour n'est possible. La vente est finale.</div>

        <div class="question">Q: Est-ce que vous livrez à l'international ?</div>
        <div class="answer">R: Oui, nous livrons dans le monde entier. Les frais de livraison varient en fonction de la destination.</div>

        <div class="question">Q: Quel sont les délais de livraison ?</div>
        <div class="answer">R: Les délais de livraison varient en fonction de votre emplacement. En général, les commandes sont livrées dans un délai de 3 à 7 jours ouvrables.</div>

           <div class="question">Q: Que faire si je reçois un article endommagé ?</div>
    <div class="answer">R: Veuillez communiquer avec votre vendeur dès que possible.</div>
    </div>
</body>

</html>
