<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Librairie Infinie</title>
    <link rel="stylesheet" href="../static/styles1.css">

</head>

<body>
    {% if session.loggedin %}

    <navbar class="navbar" >

        <ul>
            <li><a href="/logout">Déconnexion</a></li>
            <li><a href="/mon_compte">Mon Compte</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/panier">Mon Panier</a></li>
            <li><a href="/favoris">Mes Favoris</a></li>
            <li><a href="/">Accueil</a></li>


        </ul>
    </navbar>

{% else %}

    <navbar class="navbar">
        <ul>
            <li><a href="/inscription">s'inscrire</a></li>
            <li><a href="/connexion">se connecter</a></li>
            <li><a href="/publier">publier</a></li>
            <li><a href="/">Accueil</a></li>
        </ul>
    </navbar>

{% endif %}

{% endif %}
    <div class="recherche-container">
        <div class="slogan">
        Bienvenue sur notre site de vente de livres neufs<br>et usagés en ligne. Trouvez votre prochaine lecture parmi notre vaste sélection !
        </div>
        <div class="search-boite">
            <h2>Vous voulez faire une recherche?</h2>
            <form action="/faire_recherche" method="GET">
                <input type="submit" value="Rechercher">
            </form>
        </div>
    </div>

    <button class="text-size-btn" id="decrease-text-size">-</button>
    <button class="text-size-btn" id="increase-text-size">+</button>

    <script>
        // JavaScript pour augmenter la taille du texte
        document.getElementById("increase-text-size").addEventListener("click", function() {
            // Récupère la taille actuelle du texte
            var currentFontSize = parseFloat(window.getComputedStyle(document.body).fontSize);
            // Augmente la taille du texte de 2 pixels
            var newFontSize = currentFontSize + 2;
            document.body.style.fontSize = newFontSize + "px"; // Augmente la taille du texte
        });

        // JavaScript pour diminuer la taille du texte
        document.getElementById("decrease-text-size").addEventListener("click", function() {
            // Récupère la taille actuelle du texte
            var currentFontSize = parseFloat(window.getComputedStyle(document.body).fontSize);
            // Diminue la taille du texte de 2 pixels
            var newFontSize = currentFontSize - 2;
            document.body.style.fontSize = newFontSize + "px"; // Diminue la taille du texte
        });
    </script>
</body>

</html>
